{
  "singleQuote": true,
  "trailingComma": "none",
  "semi": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./apps/web/app/globals.css",
  "tailwindFunctions": ["cn", "cva"]
}
